.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.header {
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

.grid {
    text-align:center;
    padding:2px 5px;
    font-size:14px;
    background:#f4f4f4;
}

.headcursor {
    cursor:pointer;
}

/* Flex box setup for the stats block in the header */
.stats {
    clear: both;
    display: flex;
}

.stats>* {
    flex: 1 1 33%;
}

/* Colors for the display on the class column */
.deathknight {
    background:#C41F3B;
    color:#FFFFFF;
}

.druid {
    background:#FF7D0A;
}

.hunter {
    background:#ABD473;
}

.mage {
    background:#69CCF0;
}

.monk {
    background:#00FF96;
}

.paladin {
    background:#F58CBA;
}

.priest {
    background:#FFFFFF;
}

.rogue {
    background:#FFF569;
}

.shaman {
    background:#0070DE;
    color:#FFFFFF;
}

.warlock {
    background:#9482C9;
    color:#FFFFFF;
}

.warrior {
    background:#C79C6E;
}

.demonhunter {
    background:#A330C9;
    color:#FFFFFF;
}

.evoker {
    background:#33937F;
}
