{%- macro title(results) -%}
{% if results == none %}Creating New Group{% else %}Editing Group{% endif %}
{%- endmacro -%}
<!DOCTYPE html>
{% autoescape true -%}
<html>
  <head>
    <title>{{ title(results) }}</title>
    <link rel="stylesheet" type="text/css" href="/static/jqwidgets/styles/jqx.base.css" />
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/jquery.tablesorter.min.js"></script>
    <script src="/static/jqwidgets/jqxcore.js"></script>
    <script src="/static/jqwidgets/jqxnotification.js"></script>
    <script src="/static/jqwidgets/jqxwindow.js"></script>
    <script src="/static/editor.js"></script>
  </head>
  <body>
    <div>
      <h1>{{ title(results) }}</h1>
      
      <form action="/{{ nrealm }}/{{ group }}" method="post" autocomplete="off" id="toonform" accept-charset="UTF-8">
        <input type="hidden" id="nrealm" value="{{ nrealm }}"/>
        <input type="hidden" id="ngroup" value="{{ group }}"/>
        {% if results == none -%}
        Group name: <input type="text" name="group" id="group"><p/>
        {% else -%}
        Group name: <input type="text" name="group" id="group" value="{{ group }}"><p/>
        {% endif -%}
        
        Group members: <input type="button" id="btnAdd" value="Add"/><br>
        <table id="membersTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Role</th>
              <th>Group</th>
              <th>Realm</th>
            </tr>
          </thead>
          <tbody id="tablebody">
            {%- for toon in toons -%}
            <tr style="font-size:14px;padding:2px 5px;text-align:center">
              <td><input type="text" value="{{ toon.name }}" accept-charset="UTF-8" style="text-transform: none;"/></td>
              <td><select>
                  <option value="tank"{% if toon.role == 'tank' %} selected{% endif -%}>Tank</option>
                  <option value="healer"{% if toon.role == 'healer' %} selected{% endif -%}>Healer</option>
                  <option value="dps"{% if toon.role == 'dps' %} selected{% endif -%}>Melee DPS</option>
                  <option value="ranged"{% if toon.role == 'ranged' %} selected{% endif -%}>Ranged DPS</option>
                </select>
              </td>
              <td><select>
                  <option{% if toon.status == 'main' %} selected{% endif -%}>Main</option>
                  <option{% if toon.status == 'bench' %} selected{% endif -%}>Bench</option>
                  <option{% if toon.status == 'alt' %} selected{% endif -%}>Alt</option>
                </select>
              </td>
              <td><div class="changeRealm">{{ toon.realm }}</div></td>
              <td><img src='/static/delete.png' height='24' width='24' class='btnDelete'/></td>
            </tr>
            {% endfor %}
            <tr style="font-size:14px;padding:2px 5px;text-align:center">
              <td><input type="text" value=""/></td>
              <td><select>
                  <option value="tank">Tank</option>
                  <option value="healer">Healer</option>
                  <option value="dps" selected>Melee DPS</option>
                  <option value="ranged">Ranged DPS</option>
                </select>
              </td>
              <td><select>
                  <option>Main</option>
                  <option>Bench</option>
                  <option>Alt</option>
                </select>
              </td>
              <td><div class="changeRealm">{{realm}}</div></td>
              <td><img src='/static/delete.png' height='24' width='24' class='btnDelete'/></td>
            </tr>
          </tbody>
        </table>
        <div style="font-size: 80%">(Click realm name to change a toon's realm)</div>
        
        <p/>
        {% if results == none -%}
        Enter a password to enable editing the group later:<br>
        {% else -%}
        Enter password to save changes:<br>
        {% endif -%}
        Password: <input type="password" name="pw" id="pw"><p/>
        <input type="submit" value="Save" id="submit">
      </form>
    </div>
    
    <div id="realmWindow">
      <div>Select A Realm</div>
      <div>
        <div>
          <select id="realmSelect" style="width:100%">
            {% for r in realms -%}
            <option id="{{ r.slug }}">{{ r.realm }}</option>
            {% endfor -%}
          </select>
        </div>
        <div style="float:right;margin-top:5px">
          <input type="button" id="realmOK" value="OK"/>
          <input type="button" id="realmCancel" value="Cancel"/>
        </div>
      </div>
    </div>
    
    <div id="pwfail">Password is invalid!</div>
{% endautoescape -%}
