<table id="roster" class="tablesorter"><thead><tr>
      <th class="grid headcursor">Name</th>
      <th class="grid headcursor">Class</th>
      <th class="grid headcursor">Group</th>
      <th class="grid headcursor">Average Equipped</th>
      <th class="grid headcursor">Average</th>
      <th class="grid headcursor">Head</th>
      <th class="grid headcursor">Shoulder</th>
      <th class="grid headcursor">Chest</th>
      <th class="grid headcursor">Hands</th>
      <th class="grid headcursor">Legs</th>
      <th class="grid headcursor">Neck</th>
      <th class="grid headcursor">Back</th>
      <th class="grid headcursor">Wrist</th>
      <th class="grid headcursor">Waist</th>
      <th class="grid headcursor">Feet</th>
      <th class="grid headcursor">Finger1</th>
      <th class="grid headcursor">Finger2</th>
      <th class="grid headcursor">Trinket1</th>
      <th class="grid headcursor">Trinket2</th>
      <th class="grid headcursor">MH</th>
      <th class="grid headcursor">OH</th>
      <th class="grid headcursor">Azerite Level</th>
      <th class="grid headcursor">Corruption</th>
  </tr></thead>
