<table style="clear:both;width:auto;margin-left:auto;margin-right:auto">
  <tr>
    <td class="grid" colspan="4">Color legend (Non-upgraded ilvls):</td>
  </tr>
  <tr>
    <td class="grid" style="background-color:{{ color_lfr }}">< {{ min_normal }} (Below Normal)</td>
    <td class="grid" style="background-color:{{ color_normal }}"> {{ min_normal }}-{{ min_heroic-1 }} (Normal)</td>
    <td class="grid" style="background-color:{{ color_heroic }}">>= {{ min_heroic }}-{{ min_mythic -1 }} (Heroic)</td>
    <td class="grid" style="background-color:{{ color_mythic }}">>= {{ min_mythic }} (Mythic or better)</td>
  </tr>
  <tr style="height:8px"></tr>
  <tr>
    <td class="grid" colspan="4">Outline legend:</td>
  <tr>
    <td class="grid" style="border:1px solid red">0/2 Upgrades</td>
    <td class="grid" style="border:1px solid blue">1/2 Upgrades</td>
    <td class="grid">2/2 Upgrades</td>
    <td>
</table><p/>
