<table style="clear:both;width:auto;margin-left:auto;margin-right:auto">
  <tr>
    <td class="grid" colspan="4">Color legend (Non-upgraded ilvls):</td>
  </tr>
  <tr>
    <td class="grid" style="background-color:{{ color_lfr }}">< {{ min_normal }} (Below Normal)</td>
    <td class="grid" style="background-color:{{ color_normal }}"> {{ min_normal }}-{{ min_heroic-1 }} (Normal)</td>
    <td class="grid" style="background-color:{{ color_heroic }}">>= {{ min_heroic }}-{{ min_mythic -1 }} (Heroic)</td>
    <td class="grid" style="background-color:{{ color_mythic }}">>= {{ min_mythic }} (Mythic or better)</td>
  </tr>
  <tr style="height:8px"></tr>
  <tr>
    <td class="grid" colspan="4">Outline legend:</td>
  </tr>
  <tr>
    <td class="grid" style="border:1px solid red">No enchant</td>
    <td class="grid" style="border:1px solid blue">Lesser enchant</td>
    <td class="grid">Better enchant</td>
    <td/>
  </tr>
  <tr style="height:8px"></tr>
  <tr>
    <td class="grid" colspan="4">
    Tier Token Legend:<br/>
    Dreadful: Death Knight, Demon Hunter, Warlock<br/>
    Mystic: Druid, Hunter, Mage<br/>
    Venerated: Paladin, Priest, Shaman<br/>
    Zenith: Evoker, Monk, Rogue, Warrior<br/>
    </td>
  </tr>
</table><p/>
