{%- macro itemtag(itemset) -%}
<sup>{% if itemset == 'crafted' %}C{%elif itemset == 'tier'%}T{%elif itemset == 'legendary'%}L{%- endif -%}</sup>
{%- endmacro -%}
{%- macro gridcolor(itemLevel, enchant, quality) -%}
{{ itemLevel | ilvlcolor(quality) }}{% if enchant == 0 %};border: 1px solid red{% elif enchant == 1 %};border: 1px solid blue{%- endif -%}
{%- endmacro -%}
{%- macro itemtd(item, class) -%}
<td class="grid" style="{{ gridcolor(item.itemLevel,item.enchant,item.quality) }}">{%- if item.itemLevel != 0 %}<a href="http://wowhead.com/item={{ item.id }}" rel="{{ item | build_wowhead_rel(class) }}">{{ item.itemLevel }}</a>{{ itemtag(item.set) }}{%- endif -%}</td>
{%- endmacro -%}
<tr>
  <td class="user" style="" id="{{ name | normalize }}-td">
    <a href="https://worldofwarcraft.com/en-us/character/{{ realm }}/{{ name }}" target="_blank">{{ name }}</a>
  </td>
{%- if load_status == 'nok' %}
  <td class="" style="text-align:left" colspan="12">{{ reason }}</td>
{%- else %}
  <td class="{{ class|replace(" ","") | lower() }} grid" style="">{{ class }}</td>
  <td class="grid" style="white-space: nowrap">
    {%- if role == "tank" -%}
    <img src="/static/icon-tank.png"/>
    {%- elif role == "healer" -%}
    <img src="/static/icon-healer.png"/>
    {%- elif role == "dps" -%}
    <img src="/static/icon-melee-dps.png"/>
    {%- else -%}
    <img src="/static/icon-ranged-dps.png"/>
    {%- endif -%}
    {%- if status == 'main' %} Main{%- elif status == 'bench' %} Bench{%- else %} Alt{% endif %}</td>
  <td class="grid" style="">{{ avgilvl }}</td>
  {{ itemtd(head, class) }}
  {{ itemtd(shoulder, class) }}
  {{ itemtd(chest, class) }}
  {{ itemtd(hands, class) }}
  {{ itemtd(legs, class) }}
  {{ itemtd(neck, class) }}
  {{ itemtd(back, class) }}
  {{ itemtd(wrist, class) }}
  {{ itemtd(waist, class) }}
  {{ itemtd(feet, class) }}
  {{ itemtd(finger_1, class) }}
  {{ itemtd(finger_2, class) }}
  {{ itemtd(trinket_1, class) }}
  {{ itemtd(trinket_2, class) }}
  {{ itemtd(main_hand, class) }}
  {{ itemtd(off_hand, class) }}
  <td class="grid" style="">{{ tiercount }}/4</td>
  <td class="grid" style="">{{ legendary }}/{{ unity }}</td>
{% endif -%}
</tr>
