{%- autoescape true %}
        <div style="font-size: 20px">Armor Types/Tokens</div><br/>
        
        <div class="left">
            Cloth Wearers: {{ clothcount }}<br/>
            Leather Wearers: {{ leathercount }}<br/>
            Mail Wearers: {{ mailcount }}<br/>
            Plate Wearers: {{ platecount }}<br/><br/>
        </div>
        <div class="right">
            Conqueror Tokens (Paladin/Priest/Warlock/Demon Hunter): {{ conqcount }}<br/>
            Protector Tokens (Warrior/Hunter/Shaman/Monk): {{ protcount }}<br/>
            Vanquisher Tokens (Rogue/Mage/Druid/DK): {{ vanqcount }}<br/><br/>
        </div><br/>
{% endautoescape -%}
