{%- macro itemtier(itemset) -%}
<sup>{% if itemset == 'norm' %}T{% elif itemset == 'lfr' %}L{% elif itemset == 'crafted' %}C{%- endif -%}</sup>
{%- endmacro -%}
{%- macro gridcolor(stockilvl, upgrade) -%}
{{ stockilvl | ilvlcolor }}{% if upgrade == 0 %};border: 1px solid red{% elif upgrade == 1 %};border: 1px solid blue{%- endif -%}
{%- endmacro -%}
{%- macro itemtd(item) -%}
<td class="grid" style="{{ gridcolor(item.stockilvl,item.upgrade) }}">{%- if item.itemLevel != 0 %}<a href="http://wowhead.com/item={{ item.id }}" rel="bonus={{ item.bonusLists|join(':') }}{% if item.tooltips.upgrade is defined %};upgd={{ item.tooltips.upgrade.current }}{% endif %}{% if item.tooltips.gem0 is defined %};gems={{ item.tooltips.gem0 }}{% endif %}{% if item.tooltips.set is defined %};pcs={{ item.tooltips.set|join(':') }}{% endif %}">{{ item.itemLevel }}</a>{{ itemtier(item.set) }}{%- endif -%}</td>
{%- endmacro -%}
<tr>
  <td class="user" style="" id="{{ name | normalize }}-td">
    <a href="http://us.battle.net/wow/en/character/{{ realm }}/{{ name }}/advanced" target="_blank">{{ name }}</a>
  </td>
{%- if status == 'nok' %}
  <td class="" style="text-align:left" colspan="12">{{ reason }}</td>
{%- else %}
  <td class="{{ class|replace(" ","")|lower() }} grid" style="">{{ class }}</td>
  <td class="grid" style="white-space: nowrap">
    {%- if role == "tank" -%}
    <img src="/resources/icon-tank.png"/>
    {%- elif role == "healer" -%}
    <img src="/resources/icon-healer.png"/>
    {%- else -%}
    <img src="/resources/icon-dps.png"/>
    {%- endif -%}
    {%- if main == False %} Bench{%- else %} Main{% endif %}</td>
  <td class="grid" style="">{{ avgilvle }}</td>
  <td class="grid" style="">{{ avgilvl }}</td>
  {{ itemtd(head) }}
  {{ itemtd(shoulder) }}
  {{ itemtd(chest) }}
  {{ itemtd(hands) }}
  {{ itemtd(legs) }}
  {{ itemtd(neck) }}
  {{ itemtd(back) }}
  {{ itemtd(wrist) }}
  {{ itemtd(waist) }}
  {{ itemtd(feet) }}
  {{ itemtd(finger1) }}
  {{ itemtd(finger2) }}
  {{ itemtd(trinket1) }}
  {{ itemtd(trinket2) }}
  {{ itemtd(mainHand) }}
  {{ itemtd(offHand) }}
  <td class="" style="text-align:center">{{ tiercount }}/4</td>
  <td class="" style="text-align:center">{{ lfrcount }}/4</td>
{% endif -%}
</tr>
